*{
   margin: 0;
   padding: 0;
}

html{
   font-size: 62.5;
}

/* logo de whatsapp */

.logo_wsp{
   height: 100%;
   width: 100%;
}

.logo-wsp{
   height: 80px;
   width: 80px;
   position: fixed;
   bottom:20px;
   right: 20px;
   }

/*index*/
/*body{
   background-color: url(../images/huellita\ transparente.png);
}*/

body{
   background-image: url(../images/huellita\ transparente.png);
   content: "";
   opacity: 0,3;
   position: absolute;
   top: 0;
   bottom: 0;
   right: 0;
   left: 0;
   z-index: -1;
}
.contenedor{
   width:100%
}
.subtitulos-index{
   color: #FFFFFF;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   background-color: #1B1B1E;
   margin: 0;
   padding: 5px;
   }
.parrafos-index{
   color: #FFFFFF;
   font-size: medium;
   background-color: #1B1B1E;
   padding: 5px;
}   
header{
   background-color:#367E6E;
    margin: 5px;
}
main{
   width: 100%;
}
main img{
   width: 100%;
   height: auto;
}
.img-index{
   width: 45rem;
   height: 32rem;
   margin-top: 5px;
   
}

aside{
   width: 70%;
   padding: 20px;
   float: left;
   box-sizing: border-box;
}
form {
	margin: 0 auto;
	max-width: 600px;
}

input[type="text"],
input[type="number"],
select,
textarea {
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	width: 100%;
	box-sizing: border-box;
}

select {
	height: 40px;
}

textarea {
	height: 120px;
}

input[type="submit"] {
	background-color: #4CAF50;
	color: white;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	margin-top: 20px;
}

input[type="submit"]:hover {
	background-color: #3e8e41;
}

form {
   max-width: 600px;
   margin: 0 auto;
   padding: 20px;
 }
 
 label {
   display: block;
   margin-bottom: 10px;
   background-color:#1B1B1E ;
   color: #FFFFFF;
   margin-top: 5px;
   margin-bottom: auto;
   
 }
 
 input[type="text"],
 input[type="number"],
 select,
 textarea {
   width: 100%;
   padding: 10px;
   border: 1px solid #ccc;
   margin-top: 5px;
 }
 article{
   width: 30%;
   padding: 20px;
   box-sizing: border-box;
   float: left;

 }
 .seccion-mapa h2{
   text-align: center;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   font-size: 20px;
   background-color:#1B1B1E;
   margin-top: 4px;
   color: #FFFFFF;
}
.seccion-mapa iframe {
   width: 12rem;
   height: 15rem;

}
/*footer*/
.pie-pagina{
   width: 100%;
   clear: both;
   float: left;
   margin-top: 20px;
   box-sizing: border-box;
   padding: 20px;
   background-color:#367E6E  ;
}

.pie-pagina .grupo-1{
   width: 100%;
   max-width: 1200px;
   margin: auto;
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-gap: 50px;
   padding: 45px 0px;

}
.pie-pagina .grupo-1 .box figure{
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
   width: 250px;
}
.pie-pagina .grupo-1 .box h2{
   color: #FFFFFF;
   margin-bottom: 25px;
   font-size: 20px;
}

.pie-pagina .grupo-1 .box p{
   color:#FFFFFF;
   margin-bottom: 10px;
}

.pie-pagina .grupo-1 .box .red-social a{
   display: inline-block;
   text-decoration: none;
   width: 45px;
   height: 45px;
   line-height: 45px;
   color: #fff;
   margin-right: 10px;
   background-color: #0d2033;
   text-align: center;
   transition: all 300ms ease;
}
.pie-pagina .grupo-1 .box .red-social a:hover{
   color: aqua;
}

.pie-pagina .grupo2{
   background-color: #0a1a2a;
   padding: 15px 10px ;
   text-align: center;
   color: #fff;
}
.pie-pagina .grupo2 small{
   font-size: 15px;
}

/*tienda*/

.parrafo-tienda{
  background-color: #367E6E;
  margin: 5px;
  padding: 5px;

}

/*turnos*/

.titulo-turnos{
   text-align: center;
   padding: 5px;
   background-color: #0d2033;
   color: #FFFFFF;
}
   
 .image-turnos{
   width: 100%;
   height: 100%;
 } 

 .img-turnos{
   width: 50%;
   height: auto;
   margin: 5px;
 }
 /*cursos*/

 .section-cursos{
   align-content: center;
   justify-content: center;
   text-align: center;
 }
 .section-cursos img{
   width: 100%;
   height: auto;
 }
 .section-cursos p{
   background-color: #367E6E;
 }

 /*sobrenosotros*/

 .section-sobreNosotros{
   width: 30rem;
   height: auto;
   margin: 20%;
 }
.texto-sobreNosotros{
   background-color: #367E6E;
   text-align: center;
   margin: 10%;
   padding: 10px;

}

.formulario-de-contacto{
   align-content: center;
   align-items: center;
   justify-content: center;
   background-color: #367E6E;
   color: #fff;
}